/* TODO add copyright & disclaimer */

body { background: #f0f0f0; color: #363636; font-family: Arial, Helvetica, sans-serif; font-size: 12;}

.copyright {color: gray; font-size: smaller; font-style: oblique; text-align: center; border-top: 1px gray ;}

.logTable {background-color: white; margin-right: auto; margin-left: auto; border: 3px solid black;
	padding: 10px; border-collapse: collapse; font-size: 12;}
.logHeader {text-align: center; padding-right: 10px; padding-left: 10px; font-weight: bold; border-left: 1px solid gray;}
.logLastHeader {text-align: center; padding-right: 10px; padding-left: 10px; font-weight: bold; border-left: 1px solid gray; border-bottom: 1px solid gray;}
.logCell {text-align: center; border-left: 1px solid gray ; border-bottom: 1px dotted gray;}
.logCellLeft {text-align: left; border-left: 1px solid gray ; border-bottom: 1px dotted gray;}
.logCellEntry {text-align: center; border-left: 1px solid gray ; border-bottom: 1px dotted gray;}
.logTotal {background-color: yellow; text-align: center; padding-right: 10px; padding-left: 10px; font-weight: bold; border-left: 1px solid gray; border-top: 2px solid black;}
.logError {color: red ; }
