@viewport {
/*	width: 320 ; */
	width: device-width; /* largeur du viewport */
	zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}



.previousLogTable {background-color: beige; border-style: solid; border-width: 2px; margin-left: auto; margin-right: auto ; }
.previousLogEntry {border-style: solid; border-width: 1px; padding-left: 5px; padding-right: 5px ;}

.logbookTable { background-color: lightgray; border-style: solid; border-width: 2px; margin-left:auto; margin-right: auto;
	margin-bottom: 10px; box-shadow: 3px 3px 10px gray;
}

.logbookSeparator { text-align: center ; background-color: yellow; font-weight: bold; }
.logbookLabel { text-align: right ; font-weight: bold; padding-right: 3px; }
.logbookValue { text-align: left ; padding-left: 3px;}

input:disabled { background-color: lightgray ; font-style: italic; }
