/* TODO add copyright & disclaimer */

body { background: #f0f0f0; color: #363636; font-family: Arial, Helvetica, sans-serif; font-size: 12;}

.userPrivileges {color: gray; }
.copyright {color: gray; font-size: smaller; font-style: oblique; text-align: center; border-top: 1px gray ;}

.profileTable {background-color: white; left-margin: auto; right-margin: auto; border-style: dotted; padding: 10px; font-size: 12;}
.label {text-align: right; padding-right: 10px;}
.value {text-align: left; }

.validityTable {background-color: white; left-margin: auto; right-margin: auto; border-style: dotted; padding: 20px; margin-width: 5px; font-size: 12; border-collapse: collapse ; }
.validityHeader {text-align: center; vertical-align: text-top; font-weight: bold; border-width: 1px; border-style: dotted; padding: 5px;}
.validityNameCell {text-align: right; padding-right: 10px; font-weight: bold; vertical-align: text-top; border-width: 1px; border-style: dotted;}
.validityCell {text-align: center; vertical-align: text-top; border-width: 1px; border-style: dotted;}
